body{
    background:#020617;
    color:white;
    font-family:Arial;
    margin:0;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:black;
    border-bottom:1px solid #1e293b;
}

.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
    padding:20px;
}

.kart{
    background:#020617;
    border:1px solid #1e293b;
    padding:20px;
    border-radius:10px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    background:black;
    border:1px solid #1e293b;
    color:white;
}

button{
    padding:10px 15px;
    background:#22c55e;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    opacity:0.8;
}

.bildirim{
    position:fixed;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
    background:black;
    padding:15px 25px;
    border-radius:8px;
    display:none;
}

/* REKLAM */
.reklamAlan{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
    flex-wrap:wrap;
}

.reklamKutu{
    background:black;
    border:1px solid #1e293b;
    padding:25px;
    width:320px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}

.reklamKutu:hover{
    transform:scale(1.05);
    border-color:#22c55e;
}

.fiyat{
    color:#22c55e;
    font-weight:bold;
    font-size:18px;
}

.reklamVideo{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
    margin-top:10px;
}

/* POPUP */
.popup{
    display:none;
    position:fixed;
    inset:0;
    background:black;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    padding:40px;
    z-index:999;
}

.popup button{
    margin-top:10px;
}

/* LİDERLİK EFECT */
@keyframes blink{
    0%{opacity:1; text-shadow: 0 0 5px #fff, 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff6347;}
    50%{opacity:0.3; text-shadow: 0 0 2px #fff, 0 0 5px #ff4500, 0 0 10px #ff4500;}
    100%{opacity:1; text-shadow: 0 0 5px #fff, 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff6347;}
}

.atesEfekti{
    animation: blink 1.5s infinite;
}