body{
margin:0;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
font-family:Arial;
background:black;
overflow:hidden;
color:white;
}

.arkaAnimasyon{
position:absolute;
width:200%;
height:200%;
background:linear-gradient(45deg,#0f172a,#1e293b,#020617,#334155);
animation:don 15s linear infinite;
z-index:-1;
}

@keyframes don{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}

.kutu{
background:rgba(15,23,42,0.9);
padding:40px;
border-radius:15px;
width:320px;
text-align:center;
animation:giris 1s ease;
box-shadow:0 0 30px rgba(0,0,0,0.6);
}

@keyframes giris{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

h1{
margin:0;
letter-spacing:3px;
}

h2{
margin-top:5px;
font-size:14px;
color:#94a3b8;
}

input{
width:100%;
padding:12px;
margin-top:15px;
border:none;
border-radius:8px;
outline:none;
}

.butonlar{
display:flex;
justify-content:space-between;
margin-top:15px;
}

button{
width:48%;
padding:12px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
background:#38bdf8;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
background:#0ea5e9;
}

#mesaj{
margin-top:15px;
color:#38bdf8;
min-height:20px;
}
